<!DOCTYPE html>
<html>
<head>
  <title>LitHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
  <div class="container">

    <h3 id="flash-notice" class="text-center"><%= flash[:notice] %></h3>

    <%= yield %>
  </div>
</body>
</html>
